"module1/frontend/node_modules/" 
"module1/backend/node_modules/" 
module1/frontend/node_modules/ 
module1/backend/node_modules/ 
module1/backend/.env 
module1/frontend/node_modules/ 
module1/backend/node_modules/ 
module1/backend/.env 
